Django==5.0.6
psycopg2-binary==2.9.9
gunicorn==22.0.0
python-decouple==3.8
anthropic==0.28.0
Pillow==10.3.0
django-crispy-forms==2.2
crispy-bootstrap5==2024.2
pytest-django==4.8.0
pytest==8.2.2
factory-boy==3.3.0
whitenoise==6.7.0
celery==5.4.0
redis==5.0.7
django-celery-beat==2.6.0
